{% extends 'layout.html' %}
{% block content %}
{% for admin_data in data_for_admin %}
	{% if admin_data.to_admin == True %}
		<div class="card" style="width: 18rem;">
  		<img class="card-img-top" src="{{ admin_data.image_link }}" alt="Card image cap">
  			<div class="card-body">
    		<h5 class="card-title">{{ admin_data.title }}</h5>
    		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    		<a href="{{url_for('fruit_info', fruit_name=admin_data.title)}}" class="btn btn-primary">ვრცლად</a>
  		</div>
		</div>
	{% endif %}
{% endfor %}
{% endblock %}